body {
    font-family: Arial, sans-serif;
    margin: 20px;}
  
  h1 {
    text-align: center;
  }
  .form-container{
    width: 100%;
    margin: 25px 0;
    padding: 5px;
    display: flex;
    background-color:  rgb(187, 152, 152);
  }
  .form-container input, button{
    width: 70%;
    margin: 5px;
    padding: 4px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-container button{
    width: 20%;
    margin: 5px ;
    padding: 4px;
    border: 1px solid white;
    border-radius: 5px;
    display:flexbox;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, tr,th {
    background-color:rgb(236, 248, 248);
    padding: 5px;
    color: black;
    
  }
  table, th, td {
    border: 5px solid rgb(255, 255, 255);
    padding: 5px;
    align-items: center;
    color: rgb(94, 84, 84);
    
  }
  tr.highlighted {
    background-color: #b99c9b; 
  }
  
  
  